<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>here</title>
    <link rel="import" href="key.html">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>

    <style>
        html, body, #container {
            height: 100%;
        }

        #container {
            height: 90%;
        }

        .info {
            width: 26rem;
        }
    </style>

</head>
<body>
<div id="container"></div>
<!--<div class="info" hidden>
    <h4 id='status'></h4>
    <hr>
    <p id='result'></p>
    <hr>
</div>-->

<button id="nearby">附近</button>
<button id="random">随机</button>
<button id="get-location">定位</button>
<!--<div class="checkbox">
    <label>
        <input type="checkbox" data-toggle="toggle">
        位置共享
    </label>
</div>-->
</body>
<!--引入高德地图JSAPI -->
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/here.js"></script>

<!--<script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/here.js"></script>-->

<!-- http://www.bootstraptoggle.com/ -->
<!--<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">-->
<!--<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>-->

<!--引入UI组件库（1.0版本） -->
<!--<script src="//webapi.amap.com/ui/1.0/main.js"></script>-->

<script>



    // TODO 18-11-30 00:43 记录位置

    // TODO 18-11-30 00:44 查看指定时间内的其他位置

</script>

</html>